In [ ]:
#En este caso trabajas en una empresa de venta al por menor de productos italianos y debes realizar la limpieza, transformación e integración de datos de ventas, productos y clientes para su análisis.
#Los pasos que deberás seguir en este ejercicio son:
#Lectura de la Información:
#Leer los archivos CSV (ventas.csv, productos.csv, clientes.csv).
#Explorar los conjuntos de datos para comprender su estructura, columnas, tipos de datos, etc.
#Transformación de Datos:
#Limpiar los datos: manejar valores nulos, eliminar duplicados si los hay, corregir errores tipográficos, etc.
#Realizar la integración de datos: unir los conjuntos de datos apropiados para obtener una tabla única que contenga 
#información de ventas junto con detalles de productos y clientes.
#Aplicar transformaciones relevantes según sea necesario: por ejemplo, convertir tipos de datos, renombrar columnas, crear nuevas características derivadas, etc.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [6]:
df_clientes = pd.read_csv("data/-clientes.csv", index_col=0)
df_clientes

,first_name,last_name,email,gender,City,Country,Address
id,,,,,,,
1,Cheri,Dunsmore,cdunsmore0@instagram.com,Female,Palma De Mallorca,Spain,076 Rockefeller Crossing
2,Hunt,Bartomeu,hbartomeu1@nsw.gov.au,Male,Lugo,Spain,0046 Utah Junction
3,Michaeline,Paynton,mpaynton2@narod.ru,Female,NaN,Spain,0 Corry Crossing
4,Filmer,Eirwin,feirwin3@intel.com,NaN,Leon,Spain,5 American Ash Road
5,Tanhya,Lubbock,tlubbock4@huffingtonpost.com,Female,"Hospitalet De Llobregat, L'",Spain,9289 Merry Circle
...,...,...,...,...,...,...,...
996,Ray,Tarpey,rtarpeyrn@bravesites.com,Female,Zamora,Spain,36384 Sommers Terrace
997,Flem,Roderham,froderhamro@dropbox.com,Male,Pontevedra,Spain,93177 Eastwood Parkway
998,Winifield,Blakes,wblakesrp@jiathis.com,Male,Vigo,Spain,03044 Grayhawk Road
999,Lanita,Espinosa,lespinosarq@discuz.net,Female,Dos Hermanas,Spain,2 Schmedeman Drive
1000,Grissel,Siberry,gsiberryrr@wikispaces.com,Female,Leon,Spain,42274 Waywood Terrace

In [32]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  1000 non-null   object
 1   last_name   1000 non-null   object
 2   email       1000 non-null   object
 3   gender      1000 non-null   object
 4   City        1000 non-null   object
 5   Country     1000 non-null   object
 6   Address     1000 non-null   object
dtypes: object(7)
memory usage: 62.5+ KB

In [16]:
df_clientes.isnull().sum()

first_name      0
last_name       0
email          27
gender         77
City          124
Country       154
Address        41
dtype: int64

In [18]:
df_clientes["Country"].unique()

array(['Spain', nan], dtype=object)

In [22]:
# primero empezamos por los que vamos a poner "desconocido"

columna_desconocido=["email", "gender", "Address"]

for col in columna_desconocido:
    df_clientes[col]=df_clientes[col].fillna("unkonwn")

df_clientes["email"].value_counts()
df_clientes["gender"].isnull().sum()

0

In [25]:
# vamos a cambiar la columna city por la moda

moda = df_clientes["City"].mode()[0]
moda

'Madrid'

In [28]:
df_clientes["City"]=df_clientes["City"].fillna(moda)
df_clientes["City"].isnull().sum()

0

In [30]:
# vamos a sustituir Country por Spain

df_clientes["Country"]=df_clientes["Country"].fillna("Spain")
df_clientes["Country"].isnull().sum()

0

In [39]:
df_productos = pd.read_csv("data/-productos.csv", sep=";", index_col=0) # añadimos esto porque no se puede abrir el csv
df_productos

,Nombre_Producto,Categoría,Precio,Origen,Descripción
ID,,,,,
A1,Pizza Margherita,Platos Preparados,8.99,Italia,"Clásica pizza italiana con tomate, mozzarella ..."
B2,Risotto de Champiñones,Platos Preparados,6.75,Italia,"Risotto cremoso con champiñones frescos, una d..."
C3,Tiramisú,Postres,5.49,Italia,Postre clásico italiano con capas de bizcocho ...
D4,Panettone,Repostería,10.99,Italia,Pan dulce navideño italiano con frutas confita...
E5,Orecchiette,Productos Secos,4.29,Italia,Pequeñas pastas con forma de orecchiette ideal...
F6,Polenta Tradicional,Harinas,3.75,Italia,Harina de maíz italiana para preparar la tradi...
G7,Mozzarella di Bufala,Productos Lácteos,9.25,Italia,Mozzarella fresca elaborada con leche de búfal...
H8,Pesto Genovese,Salsas,5.99,Italia,"Una salsa italiana de albahaca, piñones, queso..."
I9,Lasagna Bolognesa,Platos Preparados,7.49,Italia,"Clásica lasaña con salsa boloñesa, bechamel y ..."
J10,Arroz Arborio,Productos Secos,4.89,Italia,Arroz de grano corto perfecto para risottos it...
K11,Café Espresso,Café,6.49,Italia,Café espresso italiano con un aroma y sabor in...
L12,Sardinas en Aceite de Oliva,Pescados en Conserva,3.99,Italia,"Sardinas frescas en aceite de oliva, un bocado..."
M13,Pesto Rosso,Salsas,4.75,Italia,Una variante italiana del pesto con tomates se...
N14,Gnocchi de Patata,Productos Congelados,5.25,Italia,"Gnocchi de patata italiana, ideales con salsa ..."
O15,Ravioli de Ricotta y Espinacas,Productos Congelados,6.75,Italia,Raviolis rellenos de ricotta y espinacas fresc...
P16,Caponata,Salsas,4.25,Italia,"Una clásica caponata siciliana con berenjenas,..."
Q17,Pasta de Trigo,Productos Secos,3.99,Italia,"Deliciosa pasta de trigo durum italiana, ideal..."
R18,Salsa de Tomate Casera,Salsas,2.49,Italia,"Elaborada con tomates italianos maduros, una r..."
S19,Aceite de Oliva Virgen Extra,Aceites,9.99,Italia,Aceite de oliva prensado en frío de las mejore...
T20,Queso Parmesano,Productos Lácteos,7.89,Italia,"El famoso queso italiano, madurado durante mes..."
U21,Salami Toscano,Embutidos,5.75,Italia,Salami de cerdo italiano curado con hierbas y ...
V22,Prosciutto di Parma,Embutidos,12.45,Italia,"Delicioso jamón curado, famoso por su sabor y ..."
W23,Gelato de Limón,Helados,4.25,Italia,Gelato italiano cremoso con sabor a limón fres...
X24,Cannoli,Dulces,3.99,Italia,Postre siciliano con masa crujiente rellena de...
Y25,Cacciatore,Embutidos,6.75,Italia,Salchichas de cerdo condimentadas con hierbas ...
Z26,Calzone,Pizzas,7.49,Italia,"Pizza cerrada y horneada, rellena de queso, sa..."
AA27,Caponata di Melanzane,Entrantes,4.89,Italia,"Entrante italiano con berenjenas, tomate, apio..."
BB28,Cappelletti,Productos Secos,5.25,Italia,"Pasta rellena parecida al ravioli, típica de l..."
CC29,Carbonara,Platos Preparados,8.75,Italia,"Pasta con salsa de huevo, queso, panceta y pim..."
DD30,Carciofi Ripieni,Verduras,6.99,Italia,"Alcachofas rellenas con pan rallado, ajo, pere..."
EE31,Casatiello,Repostería,9.45,Italia,"Pan salado italiano con huevos, salami, queso ..."
FF32,Cassata Siciliana,Postres,10.99,Italia,"Tarta siciliana con capas de bizcocho, ricotta..."
GG33,Ciceri e Tria,Platos Preparados,5.89,Italia,Plato de pasta tradicional de Apulia con garba...

In [40]:
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, A1 to GG33
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nombre_Producto  33 non-null     object
 1   Categoría        33 non-null     object
 2   Precio           33 non-null     float64
 3   Origen           33 non-null     object
 4   Descripción      33 non-null     object
dtypes: float64(1), object(4)
memory usage: 1.5+ KB

In [15]:
df_productos.isnull().sum()

ID                 0
Nombre_Producto    0
Categoría          0
Precio             0
Origen             0
Descripción        1
dtype: int64

In [42]:
df_ventas = pd.read_csv("data/-ventas.csv")
df_ventas

    ID_Cliente ID_Producto Fecha_Venta  Cantidad  Total
0          723          A1  2023-11-22         2  17.98
1          498          C3  2023-11-21         1   5.49
2          121          D4  2023-11-20         3  32.97
3          885         L12  2023-11-19         1   6.49
4          347         Q17  2023-11-18         2   7.98
..         ...         ...         ...       ...    ...
95         234       AR136  2023-09-04         1   8.45
96         987       AS137  2023-09-03         2  12.50
97         543       AT138  2023-09-02         1   4.75
98         234       AU139  2023-09-01         2   9.98
99         987       AV140  2023-08-31         1   5.25

[100 rows x 5 columns]

In [43]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_Cliente   100 non-null    int64
 1   ID_Producto  100 non-null    object
 2   Fecha_Venta  100 non-null    object
 3   Cantidad     100 non-null    int64
 4   Total        100 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ KB

In [31]:
df_ventas.isnull().sum()

ID_Producto    0
Fecha_Venta    0
Cantidad       0
Total          0
dtype: int64


Transformación de Datos:
Limpiar los datos: manejar valores nulos, eliminar duplicados si los hay, corregir errores tipográficos, etc.
Realizar la integración de datos: unir los conjuntos de datos apropiados para obtener una tabla única que contenga información de ventas junto con detalles de productos y clientes.
Aplicar transformaciones relevantes según sea necesario: por ejemplo, convertir tipos de datos, renombrar columnas, crear nuevas características derivadas, etc.